doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="https://js.squareup.com/v2/paymentform")
  body
    block content
