doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/sq-payment.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  script(type="text/javascript" src="/js/sq-payment-flow.js")