doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdn.rawgit.com/square/connect-api-examples/a8cc6d7e624cb57991f6a0ff76a241836d5b9059/templates/web-ui/payment-form/custom/sq-payment-form.css')
  body
    block content
