doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdn.rawgit.com/square/connect-api-examples/master/templates/web-ui/payment-form/custom/sq-payment-form.css')
  body
    block content
