<div class="top-nav">
    <div class="top-nav__logo">
      <%if (location.logoUrl) { %>
        <img src="<%= location.logoUrl %>">
      <% } else { %>
        <img src="/images/blank-logo-sm.svg">
      <% } %>
  </div>
  <div class="top-nav__name">
    <span>
      <%if (location.businessName) { %>
        <%= location.businessName %>
      <% } else { %>
        <%= location.name %>
      <% } %>
    </span>
  </div>
</div>