<!-- This is a partial for the payment-method table. Can be inserted at runtime into a page. -->
<table id="table" class="styled-table">
  <tbody>
      <% cards.forEach(function(card) { %>
        <tr> <input type="hidden" name="cardId" value=<%= card.id %>>
          <td><%= card.cardBrand %></td>
          <td>**** **** **** <%= card.last4 %></td>
        </tr>
      <% }); %>
  </tbody>
</table>