@import url(https://square-fonts-production-f.squarecdn.com/square-sans.min.css);

html {
  color: #151c1f;
  font-family: var(--square-sans-text);
  font-size: 16px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;

  background: #ffffff;
  color: rgba(0, 0, 0, 0.55);
  font-family: var(--square-sans-text);
}

h1 {
  text-align: center;
}

form {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

button {
  font-family: var(--square-sans-text);
  margin: 0 auto 20px auto;
  background-color: #3374ff;
  padding: 12px 16px;
  color: #fff;
  border-radius: 8px;
  border: none;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
  filter: brightness(90%);
  -webkit-transition: all 30ms ease-in-out;
  -moz-transition: all 30ms ease-in-out;
  -ms-transition: all 30ms ease-in-out;
  -o-transition: all 30ms ease-in-out;
  transition: all 30ms ease-in-out;
}

input:focus {
  border: none;
  outline: none;
}

input {
  width: 100%;
  height: 48px;
  padding-left: 16px;
  background-color: #fff;
  font-size: 16px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
}
