<!DOCTYPE html>
<html ng-app="squareApp">
<head>
  <title>RailsPayment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
  <script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script>
</head>
<body>

<%= yield %>

</body>
</html>
