{
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Warning"
    }
  },
  "AppSettings": {
    "Environment": "sandbox or production",
    "ApplicationId": "your-application-id",
    "AccessToken": "your-access-token",
    "LocationId": "your-location-id"
  }
}
