.payment-form, .messages {
  height: 800px;
  width: 100%;
  max-width: 1000px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.payment-form {
  align-items: center;
}

@media (max-width: 1050px) {
  .payment-form, .messages {
      border-radius: 0;
      margin: 0;
      height: 110vh;
      max-width: 100%;
  }
}

@media (max-width: 600px) {
  .payment-form, .messages {
      padding: 30px;
      box-sizing: border-box;
  }
}

#fast-checkout {
  background: #FAFAFA;
  color: black;
}

#fast-checkout input {
  border-radius: 6px;
  position: relative;
}

#fast-checkout .wrapper {
  max-width: 343px;
  position: relative;
}

#fast-checkout button {
  background: rgba(0, 106, 255, 1);
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  padding: 15px;
  border-radius: 6px;
  border: none;
  display: block;
  color: white;
}

#fast-checkout button#apple-pay-button {
  background: white;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
  line-height: 18px;
  padding: 13px;
}

#fast-checkout button#google-pay-button {
  background: black;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #555;
  display: flex;
  justify-content: center;
  line-height: 18px;
  padding: 13px;
}

#fast-checkout .border {
  color: rgba(0, 0, 0, 0.55);
  background: rgba(0, 0, 0, 0.1);
  height: 1px;
  width: 100%;
  margin: 30px 0;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;
}

#fast-checkout .border span {
  position: absolute;
  top: -10px;
  background: #FAFAFA;
  padding: 0 10px;
  left: calc(50% - 1em - 5px);
}


#fast-checkout .fail,
#fast-checkout .success {
  background: #FAFAFA;
  color: black;
}

#fast-checkout .fail h2,
#fast-checkout .success h2 {
  color: rgba(0, 0, 0, 0.55);
}

#fast-checkout .fail button,
#fast-checkout .success button {
  background: #006AFF;
  border-radius: 6px;
  border: none;
  color: white;
}

#fast-checkout p.warning {
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}

#ach-wrapper input:first-of-type {
  margin-bottom: 10px;
}

#ach-message {
  width: 100%;
  margin-top: 11px;
  margin-bottom: 11px;
  font-family: "Square Market",Arial,sans-serif;
  font-size: 14px;
  display: inline-block;
  color: #BF0020;
}

#ach-message:empty:before {
  content: "\200b";

}