/**
  Dropdown selector
*/

@import url(https://square-fonts-production-f.squarecdn.com/square-sans.min.css);

.pretty-dropdown {
  position: relative;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
  font-family: var(--square-sans-text);
}

.pretty-dropdown__selected {
  display: flex;
  width: 100%;
  border: 1px;
  border-color: rgba(0, 0, 0, 0.15);
  border-style: solid;
  align-items: center;
  border-radius: 6px;
  padding: 15px;
  box-sizing: border-box;
}

.pretty-dropdown__selected .pretty-dropdown__selected-description {
  font-weight: bold;
}

.pretty-dropdown__options-wrapper.show {
  display: block;
}

.pretty-dropdown__options-wrapper {
  display: none;
  position: absolute;
}

.pretty-dropdown__options-wrapper {

  background-color: white;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.pretty-dropdown__icon.flipped {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}

.pretty-dropdown__options {
  width: 100%;
  margin: 0;
  padding: 8px 24px 8px 24px;
}

.pretty-dropdown__options li {
  list-style-type: none;
  height: 40px;
  width: 100%;
  display: block;
  text-align: center;
}

.pretty-dropdown__options li .pretty-dropdown__option {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  float: left;
  text-align: left;
}

ul.pretty-dropdown__options li .pretty-dropdown__option:hover {
  background-color: rgba(0, 106, 255, 0.1);
  cursor: pointer;
}

.pretty-dropdown__options li.option-selected:after {
  content: "";
  display: inline-block;
  background: url("/images/selected.svg") center no-repeat;
  width: 40px;
  height: 40px;
  margin-left: -40px;
  margin-right: 0;
}

.pretty-dropdown__selected-values {
  display: flex;
  flex-direction: column;
}

.pretty-dropdown__selected-image {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  margin-right: 15px;
  display: block;
  text-align: center;
  position: relative;
}

.pretty-dropdown__icon {
  position: absolute;
  right: 15px
}

.pretty-dropdown__selected-image img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

ul.pretty-dropdown__options li .pretty-dropdown__option img {
  float: left;
  margin-right: 15px;
}
