<div class='landing'>
  <div class='headers'>
    <h3 class='subheading'>Customize your Online Store cursor</h3>
    <h2 class='heading'> Connect your Square Account</h2>
  </div>
  <a class='button' href="/auth/square"> Connect </a>
</div>