<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <title>Charge Result</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
</head>

<body>
  <h1> Charge Result</h1>
  <div>Created At: <span th:text="${payment.getCreatedAt()}"></span></div>
  <div>Status: <span th:text="${payment.getStatus()}"></span></div>
  <div>Payment ID: <span th:text="${payment.getId()}"></span></div>
  <div>Total Amount: $<span th:text="${payment.getTotalMoney().getAmount()/100}"></span> <span th:text="${payment.getTotalMoney().getCurrency()}"></span></div>
  <div>Note: <span th:text="${payment.getNote()}"></span></div>
</body>

</html>
