<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>Error</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    </head>

    <body>
    <h1> Error </h1>
    <div>Category: <span th:text="${error.getCategory()}"></span></div>
    <div>Code: <span th:text="${error.getCode()}"></span></div>
    <div>Detail: <span th:text="${error.getDetail()}"></span></div>
    <div>Field: $<span th:text="${error.getField()}"></span></div>
    </body>
</html>
