<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <title>Sample Payment Form</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <script th:src="${paymentFormUrl}" type="text/javascript"></script>
  <script type="application/javascript">
    window.applicationId = '[[${appId}]]';
    window.locationId = '[[${locationId}]]';
    window.currency = '[[${currency}]]';
    window.country = '[[${country}]]';
  </script>
  <!--
    These styles can live in a separate .css file. They're just here to keep this
    example to a single file.
  -->
  <link rel="stylesheet" type="text/css" href="/css/sq-payment.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
<!-- Begin Payment Form -->

<form class="payment-form" id="fast-checkout">
  <div class="wrapper">
    <button id="apple-pay-button" alt="apple-pay">
      <img src="images/Apple Pay.svg">
    </button>
    <button id="google-pay-button" alt="google-pay">
      <img src="images/GPay.svg">
    </button>
    <div class="border"><span>
        OR
        </span></div>
    <div id="ach-wrapper">
      <label for="ach-first-name"></label>
      <input id="ach-first-name" type="text" placeholder="First Name"
             name="account-holder-first-name"/>
      <label for="ach-last-name"></label>
      <input id="ach-last-name" type="text" placeholder="Last Name"
             name="account-holder-last-name"/><span id="ach-message"></span>
      <button id="ach-button">Pay with Bank Account</button>
      <div class="border"><span>
          OR
          </span></div>
    </div>
    <div id="card-container"></div>
    <button id="card-button" type="button">Pay with Card</button>
    <span id="message"></span>
  </div>
</form>
<!-- End Payment Form -->
<script src="js/sq-ach.js"></script>
<script src="js/sq-apple-pay.js"></script>
<script src="js/sq-google-pay.js"></script>
<script src="js/sq-card-pay.js"></script>
<script src="js/sq-payment-flow.js"></script>
</body>

</html>
