<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>Sample Payment Form</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <script src="https://js.squareup.com/v2/paymentform" type="text/javascript">
    </script>
    <script>
        var applicationId = '[[${addId}]]'; // <-- This is set to a real value when it's rendered by the template in Main.java
        var locationId = '[[${locationId}]]'; // <-- This is set to a real value when it's rendered by the template in Main.java

        // Make sure the application ID is set before continuing.
        if (applicationId == '' || locationId == '') {
            alert('You need to provide a value for applicationId and locationId.');
        }

        // Create and initialize a payment form object
        var paymentForm = new SqPaymentForm({
            applicationId: applicationId,
            locationId: locationId,
            inputClass: 'sq-input',
            inputStyles: [{
                fontSize: '15px'
            }],
            // Used for credit card payments
            cardNumber: {
                elementId: 'sq-card-number',
                placeholder: '•••• •••• •••• ••••'
            },
            cvv: {
                elementId: 'sq-cvv',
                placeholder: 'CVV'
            },
            expirationDate: {
                elementId: 'sq-expiration-date',
                placeholder: 'MM/YY'
            },
            postalCode: {
                elementId: 'sq-postal-code'
            },

            // Used for Web Apple Pay payments
            applePay: {
                elementId: 'sq-apple-pay'
            },

            // Payment form callback functions
            callbacks: {

                // Credit card payments are always supported, but the Web Apple Pay
                // button should only display if Apple Pay is supported for this
                // domain. Apple Pay support is determined by the Square JS library
                // when the page loads. You do not need to modify this function.
                methodsSupported: function(methods) {
                    if (methods.applePay === true) {
                        // Show apple pay button
                        var element = document.getElementById('sq-apple-pay');
                        element.style.display = 'inline-block';
                    }
                },

                // createPaymentRequest is triggered when the Apple Pay button is
                // rendered. The payment request object is used by digital wallets
                // (like Apple Pay) to create their equivalent of a credit card nonce.
                // NOTE: The payment request below is provided as guidance. You should
                // add code to create the object programmatically.

                createPaymentRequest: function() {
                    return {
                        requestShippingAddress: true,
                        currencyCode: "USD",
                        countryCode: "US",
                        total: {
                            label: "[[${locationName}]]",
                            amount: "1.00",
                            pending: false,
                        },
                        lineItems: [{
                            label: "Subtotal",
                            amount: "0.90",
                            pending: false,
                        },
                        {
                            label: "Shipping",
                            amount: "0.00",
                            pending: true,
                        },
                        {
                            label: "Tax",
                            amount: "0.10",
                            pending: false,
                        }]
                    };
                },

                // Used for credit card payments. Called when the SqPaymentForm
                // completes a request to generate a card nonce, even if the request
                // failed because of an error.
                cardNonceResponseReceived: function(errors, nonce, cardData) {
                    if (errors && errors.length > 0) {

                        // handle errors. display the error message

                        console.log("Encountered errors:");
                        errors.forEach(function(error) {
                            console.log('  ' + error.message);
                        });

                        return;
                    }

                    // Set the nonce value to the hidden form field
                    document.getElementById('nonce').value = nonce;
                    document.getElementById('nonce-form').submit();

                    // Let the form continue to the payment processing page
                    submitPayment(nonce);

                },

                unsupportedBrowserDetected: function() {
                    // Fill in this callback to alert buyers when their browser is not supported.
                },

                // Fill in these cases to respond to various events that can occur while a
                // buyer is using the payment form.
                inputEventReceived: function(inputEvent) {
                    switch (inputEvent.eventType) {
                        case 'focusClassAdded':
                            // Handle as desired
                            break;
                        case 'focusClassRemoved':
                            // Handle as desired
                            break;
                        case 'errorClassAdded':
                            // Handle as desired
                            break;
                        case 'errorClassRemoved':
                            // Handle as desired
                            break;
                        case 'cardBrandChanged':
                            // Handle as desired
                            break;
                        case 'postalCodeChanged':
                            // Handle as desired
                            break;
                    }
                },

                paymentFormLoaded: function() {
                    // Fill in this callback to perform actions after the payment form is
                    // done loading (such as setting the postal code field programmatically).
                    // paymentForm.setPostalCode('94103');
                }
            }
        });

        // Called when a buyer clicks the submit button for a credit card payment
        function requestCardNonce(event) {

            // Prevent the Submit button from submitting its associated form so
            // the SqPaymentForm object can generate a credit card nonce first.
            event.preventDefault();
            paymentForm.requestCardNonce();
        }
    </script>
    <!--
      These styles can live in a separate .css file. They're just here to keep this
      example to a single file.
    -->

    <style type="text/css">
        .sq-input {
            border: 1px solid rgb(223, 223, 223);
            outline-offset: -2px;
            margin-bottom: 5px;
        }

        .sq-input--focus {
            /* Indicates how form inputs should appear when they have focus */
            outline: 5px auto rgb(59, 153, 252);
        }

        .sq-input--error {
            /* Indicates how form inputs should appear when they contain invalid values */
            outline: 5px auto rgb(255, 97, 97);
        }
        /* Indicates how Web Apple Pay Button will appear on your site */

        .button-apple-pay {
            min-width: 200px;
            min-height: 40px;
            max-height: 64px;
            padding: 0;
            background-image: -webkit-named-image(apple-pay-logo-white);
            background-color: black;
            background-size: 100% 60%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            border-radius: 5px;
            display: none;
        }
    </style>
</head>

<body>
    <!--
      Used for Web Apple Pay payments.

      This button is a placeholder for the Web Apple pay button
      that will be enabled/disabled based on whether or not the domain is
      registered with Apple and the browser supports Apple Pay.
    -->
    <div>
        <button class="button-apple-pay" id="sq-apple-pay"></button>
    </div>
    <!--
      Used for Credit Card payments.

      These div elements are the placeholder elements for credit card payments
      that are replaced by the SqPaymentForm's iframes.
    -->
    <label>Card Number</label>
    <div id="sq-card-number"></div>
    <label>CVV</label>
    <div id="sq-cvv"></div>
    <label>Expiration Date</label>
    <div id="sq-expiration-date"></div>
    <label>Postal Code</label>
    <div id="sq-postal-code"></div>
    <!--
      Used for Credit Card payments.

      After the SqPaymentForm generates a card nonce, *this* form POSTs the generated
      card nonce to your application's server.

      You should replace the action attribute of the form with the path of
      the URL you want to POST the nonce to (for example, "/process-card")
    -->
    <form action="/charge" id="nonce-form" method="post" name="nonce-form" novalidate="">
        <!--
          After it's generated, the nonce is assigned to this hidden input field.
        -->
        <input id="nonce" name="nonce" type="hidden">
        <!--
          Clicking this generates a card nonce for a credit card purchase.
        -->
        <input onclick="requestCardNonce(event)" type="submit">
    </form>
</body>

</html>
