<html>

<head>
  <link href="../stylesheets/style.css" rel="stylesheet" type="text/css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="../js/table.js"></script>
</head>

<body>
  <div id="container">
    <div class="wrapper">
      <div>This is a fake payment page to activate a gift card</div>
      <form class="form-control" action="/gift-card/create" method="POST">
        <table id="table" class="styled-table">
          <tbody>
              <% cards.forEach(function(card) { %>
                <tr>
                  <td><%= card.cardBrand %></td>
                  <td>**** **** **** <%= card.last4 %></td>
                </tr>
              <% }); %>
          </tbody>
      </table>
        <input id="activate" type="submit" name="OK" class="ok" value="OK"/>
      </form>
    </div>
  </div>
</body>

</html>