<html>

<head>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  <script src="/js/js-barcode.js"></script>
</head>

<body>
  <header>
    <%- include("../partials/header") %>
  </header>
  <div class="wrapper">
    <div id="card-details__wrapper">
      <div id="card-details__title-wrapper">
        <div id="card-details__title">
        <h4>Gift Card</h4>
        <div>Created on date</div>
        </div>
        <div class="pretty-dropdown-menu" onclick="showMenuOptions()">
          <button class="square-button btn-secondary"><img src="/images/ellipsis.svg" /></button>
          <ul class="pretty-dropdown-menu__list">
            <li class="pretty-dropdown-menu__list-item">Transaction history</li>
            <% if (giftCard.state === "NOT_ACTIVE") { %>
              <li class="pretty-dropdown-menu__list-item--disabled">Delete card</li>
            <% } else { %>
              <li class="pretty-dropdown-menu__list-item pretty-dropdown-menu__list-item--critical">Delete card</li>
            <% } %>
          </ul>
        </div>
      </div>
      <div class="dashboard-cards__card">
        <div class="dashboard-cards__inner dashboard-cards__inner-flip">
          <div class="dashboard-cards__card-front">
            <img src="/images/giftCardImage.png" />
          </div>
          <div class="dashboard-cards__card-back"></div>
        </div>
      </div>
      <h3 id="card-details__balance"><%= formatMoney(giftCard.balanceMoney.amount, giftCard.balanceMoney.currency) %></h3>
      <% if (giftCard.state === "NOT_ACTIVE") { %>
        <div>Your card curently has no funds avalible. Add money to activate this card for use.</div>
      <% } else { %>
        <div>This card is active</div>
      <% } %>
      <div class="card-details__info">
        <div class="card-details__info-row">
          <div class="card-details__info-label">
            Card number
          </div>
          <div class="card-details__info-value">
            <%= giftCard.gan %>
          </div>
        </div>
      </div>
      <form action=<%="/gift-card/" +  giftCard.gan + "/add"%> method="GET">
        <button class="square-button" type="submit">Add Funds</button>
      </form>
      <% if (payment && payment === "success") { %>
        <div class="success-toast">
          <div>
              <img id="test2" src="/images/success.svg">Payment successful!
          </div>
        </div>
      <% } %>
    </div>
  </div>
  <script src="/js/pretty-dropdown-menu.js"></script>
</body>

</html>