<html>

<head>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <%- include("../partials/header") %>
  </header>
  <div id="container">
    <div class="wrapper">
      <div>
        <h1>SUCCESS!</h1>
        <a href="/dashboard">Back to dashboard</a>
      </div>
    </div>
  </div>
</body>

</html>