<html>

<head>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/card-on-file-table.js"></script>
</head>

<body>
  <header>
    <%- include("../partials/header") %>
  </header>
  <div id="container">
    <div class="wrapper">
      <div>
        <h1>Add New Card</h1>
      </div>
      <%- include("../partials/card-on-file-form", {path: "/gift-card/create", prompt: "Enter a money amount to create your gift card with:"}) %>
    </div>
  </div>
</body>

</html>