<html>

<head>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/pretty-dropdown-select.css" rel="stylesheet" type="text/css">
  <% include("../functions") %>
</head>

<body>
  <div class="window-container" id="login-container">
    <div class="content__wrapper">
      <span class="eyebrow">Square Developer</span>
      <h1>Gift Card Sample App</h1>
      <span>You can easily manage your gift cards with Square Gift Cards. This sample app
        demonstrates how Square Gift Cards API may be used by a customer to manage their gift cards.
      </span>
      <div id="login">
        <h5>Login</h5>
        <div id="login-dropdown">
        </div>
        <form action="/login" method="POST">
          <input name="customer" id="pretty-dropdown__value" hidden=true type="text" value="" required />
          <button class="square-button" type="submit">Login</button>
        </form>
        <div class="message">
          Don’t forget you can manage Customers and Gift Cards using Square’s <a href="https://developer.squareup.com/explorer/square">API Explorer</a> to call the API. This sample
          app will update accordingly.
        </div>
        <% if (customerCreatedGivenName && customerCreatedFamilyName &&
                customerCreated && customerCreated === "success") { %>
          <div class="success-toast success-toast__large">
            <div>
              <img src="/images/success.svg">Created customer <%= customerCreatedGivenName %> <%= customerCreatedFamilyName %>
            </div>
          </div>
        <% } %>
      </div>
    </div>

    <div id="add-customer">
      <form action="/seed/create-customer" method="POST">
        <button class="square-button btn-secondary" type="submit">Add customer</button>
      </form>
    </div>

    <% var customerData = getCustomersData(customers); %>
    <script src="/js/pretty-dropdown-select.js"></script>
    <script>
      new PrettyDropdownSelect("login-dropdown",
      <%- stringifyJSON(customerData) %>,
      { placeholderImg: "/images/profile.svg", placeholder: "Select customer", addonIds:["add-customer"] });
    </script>
</body>

</html>