<html>

<head>
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <%- include("../partials/header") %>
  </header>
  <div>No gift cards for this account</div>
  <button type="button" href="#TODO">Add Card</button>
</body>
</html>