

/*-------No Bootstrap Styling------*/
body{
  font-family: Helvetica;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//input styles
.no-boot input,
.no-boot select{
  width: 100%;
  margin-bottom: 10px;
  padding: 4px 10px;
  font-family: helvetica;
  font-size: 14px;
}

.no-boot input{
  border: 1px solid #E0E2E3;
  border-radius: 4px;
  outline-offset: -2px;
  display: inline-block;
}

.no-boot input:focus{
  border: 1px solid #4A90E2;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.10), 0 2px 2px 0 rgba(0,0,0,0.10);
}

//submit button styles
.no-boot input[type=submit]{
  min-height: 45px;
  background: #0EB00E;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.10), 0 2px 2px 0 rgba(0,0,0,0.10);
  border-radius: 4px;
  cursor:pointer;
  display:block;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  padding: 15px;
  margin-top: 10px;
  outline: none;
  font-family: "HelveticaNeue-Bold", Helvetica, Arial, sans-serif;
}

.no-boot input[type=submit]:hover{
  background-color: #12df12;
}

.no-boot input[type=submit]:focus{
  outline: 0;
  border-bottom: 0;
  box-shadow: none;
}

//disable submit button so no other actions can take place while form goes through
.no-boot input[type=submit][disabled]{
  cursor: not-allowed;
  background-color: #8CE67A;
}

//Square Fields
.wallet-not-enabled {
  min-width: 200px;
  min-height: 40px;
  max-height: 64px;
  padding: 0;
  margin: 10px;
  line-height: 40px;
  background: #eee;
  border-radius: 5px;
  font-weight: lighter;
  font-style: italic;
  font-family: inherit;
  display: block;
}

.button-apple-pay {
  min-width: 200px;
  min-height: 40px;
  max-height: 64px;
  padding: 0;
  margin: 10px;
  background-image: -webkit-named-image(apple-pay-logo-white);
  background-color: black;
  background-size: 100% 60%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 5px;
  cursor:pointer;
  display: none;
}

.button-masterpass {
  min-width: 200px;
  min-height: 40px;
  max-height: 40px;
  padding: 0;
  margin: 10px;
  background-image: url(https://static.masterpass.com/dyn/img/btn/global/mp_chk_btn_147x034px.svg);
  background-color: black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 5px;
  border-color: rgb(255, 255, 255);
  cursor:pointer;
  display: none;
}

#sq-walletbox {
  float:left;
  margin:5px;
  padding:10px;
  text-align: center;
  vertical-align: top;
  font-weight: bold;
}

input {
  border: 1px solid #E0E2E3;
  border-radius: 4px;
  outline-offset: -2px;
}

.sq-input{
  border: 1px solid #E0E2E3;
  border-radius: 4px;
  outline-offset: -2px;
  display: inline-block;
}

//[iFrame class]--focus is added when the square form is focused
//use similar to other form focus style for consistency
.sq-input--focus{
  border: 1px solid #4A90E2;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.10), 0 2px 2px 0 rgba(0,0,0,0.10);
}

//[iFrame class]--error is added when the iFrame local check fails
//use similar styling on other forms to ensure consistent error styles
.sq-input--error{
  border: 1px solid red;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.10), 0 2px 2px 0 rgba(0,0,0,0.10);
}

//error messages
.no-boot #card-errors li{
  list-style-type: none;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #E27272;
  color: white;
}

//Success
#successNotification{
  margin: 0;
  text-align: center;
  background-image: linear-gradient(-1deg, #72E07B 0%, #56FBD2 100%);
  border-radius: 4px;
  padding: 5% 5%;
  color: white;
  font-size: 32px;
}

/*-------Bootstrap Styling------*/

.sq-input-boot{
  padding: 0;
}

//[iFrame class]--focus is added when the square form is focused
//use similar to other form focus style for consistency
.sq-input-boot--focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

//[iFrame class]--error is added when the iFrame local check fails
//use similar styling on other forms to ensure consistent error styles
.sq-input-boot--error{
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

//style when the form is both errored and focused
.sq-input-boot--focus.sq-input-boot--error{
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}

/*-------Error Workaround for Bootstrap Styling------*/

//make the containing div position relative
.sq-form-group{
  position: relative;
  height: 57px;
  padding-top: 22px;
}

//label is after the field in the HTML, but positioned absolutely above the field
.sq-form-group label{
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 19.8px;
  padding-right: 12px;
  display: inline-block;
  width:20%;
}

.label {
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 19.8px;
  padding-right: 12px;
}

#sq-ccbox {
  float:left;
  margin:5px;
  padding:10px;
  text-align: center;
  vertical-align: top;
  font-weight: bold;
}

#nonce-form {
  background-color: #f7f7f7;
  padding: 25px;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

//use sibling selector to add style when the form gets the "--error" class
.sq-input-boot--error+label{
  color: #a94442;
}

.sq-input-boot input{
  color: #a94442;
}


//Styles for shopwing the errors
#card-errors li{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;

  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;

  list-style-type: none;
}

.show {
  display: block;
}
.hide {
  display: none;
}
