<body>
  <h3>Implementation selection:</h3>
  <ul>
    <li><a href="/js">JS</a></li>
    <li><a href="/jquery">JQuery</a></li>
    <li><a href="/angular">Angular 1</a></li>
    <li><a href="/react">React</a></li>
    <li><a href="/ember">Ember</a></li>
    <li><a href="/js_bootstrap">JS + Bootstrap</a></li>
  </ul>
</body>