@font-face {
  font-family: 'Square Market';
  font-style: normal;
  font-weight: 400;
  src: url("//cdn2.editmysite.com/fonts/SQ_Market/sqmarket-regular.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: 'Square Market';
  font-style: italic;
  font-weight: 400;
  src: url("//cdn2.editmysite.com/fonts/SQ_Market/sqmarket-regular-italic.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: 'Square Market';
  font-style: normal;
  font-weight: 500;
  src: url("//cdn2.editmysite.com/fonts/SQ_Market/sqmarket-medium.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: 'Square Market';
  font-style: italic;
  font-weight: 500;
  src: url("//cdn2.editmysite.com/fonts/SQ_Market/sqmarket-medium-italic.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: 'Square Market';
  font-style: normal;
  font-weight: 600;
  src: url("//cdn2.editmysite.com/fonts/SQ_Market/sqmarket-medium.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: 'Square Market';
  font-style: italic;
  font-weight: 600;
  src: url("//cdn2.editmysite.com/fonts/SQ_Market/sqmarket-medium-italic.woff") format("woff");
  font-display: fallback;
}

html {
  font-family: SQ Market;
}

.availability {
  margin: 25px;
}

.availability h4 {
  color: #1A1A1A;
  font-size: 18px;
  letter-spacing: 0.006em;
  line-height: 26px;
}

.availability a.availableTime {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  box-sizing: border-box;
  color: #1A1A1A;
  float: left;
  font-weight: 500;
  letter-spacing: .01em;
  list-style-type: none;
  margin: 7px;
  text-align: center;
  text-decoration: none;
  padding: 15px 10px;
  width: 104px;
}

.availability p {
  color: #71767B;
  font-size: 16px;
  line-height: 22px;
}
