[DEFAULT]
# Acceptable values are sandbox or production
environment =

[PRODUCTION]
square_application_id = production_application_id
square_access_token = production_access_token
square_location_id = production_location_id

[SANDBOX]
square_application_id = sandbox_application_id
square_access_token = sandbox_access_token
square_location_id = sandbox_location_id
